// Filter component
.filter {
  .type-filter {
    position: relative;
    width: 100%;
  }
  .time-filter {
    position: relative;
    width: 100%;
    height: 55px;
    padding-top: 15px;
    animation-name: fade-in;
    animation-duration: 300ms;
  }
}
// Chart component
.chart {
  position: relative;
  float: left;
  width: 48%;
  @include respond-to(sm) {
    width: 100%;
    margin-bottom: 25px;
  }
  .chart-title-container {
    position: relative;
    float: left;
    width: 100%;
  }
  .chart-label-container {
    position: relative;
    float: left;
    width: 100%;
    &--top {
      margin-bottom: 5px;
    }
    &--bottom {
      top: -2px;
    }
    p {
      position: relative;
      margin: 0px 0px;
      float: left;
      color: $grey;
      font-size: 0.9em;
      &:last-child {
        float: right;
      }
    }
  }
  &.toggle-enter {
    animation-name: zoom-in;
    animation-duration: 300ms;
  }
  &.toggle-leave {
    animation-name: zoom-out;
    animation-duration: 300ms;
  }
  &:first-child {
    margin-right: 4%;
    @include respond-to(sm) {
      margin-right: 0px;
    }
  }
  &:nth-child(3) {
    margin-top: 4%;
    @include respond-to(sm) {
      margin-top: 0px;
    }
  }
  &:nth-child(4) {
    margin-top: 4%;
    margin-left: 4%;
    @include respond-to(sm) {
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
// Buttons
.button--filter {
  position: relative;
  padding: 9px 15px 6px 15px;
  margin-right: 1em;
  background-color: white;
  border: 1px solid $almostBlack;
  cursor: pointer;
  transition: all 350ms;
  transform: scale(1);
  @include respond-to(sm) {
    margin-right: 5px;
  }
  div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 3px;
    transition: all 350ms;
  }
  &--cpu {
    div {
      background-color: $cpu;
    }
    &:hover {
      background-color: rgba($almostBlack,0.85);
      color: white;
      div {
        background-color: $cpu;
      }
    }
    &.is-active {
      background-color: rgba($almostBlack,1);
      color: white;
      div {
        width: 100%;
        background-color: $cpu;
      }
      &:hover {
        background-color: rgba($almostBlack,0.85);
      }
    }
  }
  &--memory {
    div {
      background-color: $memory;
    }
    &:hover {
      background-color: rgba($almostBlack,0.85);
      color: white;
      div {
        background-color: $memory;
      }
    }
    &.is-active {
      background-color: rgba($almostBlack,1);
      color: white;
      div {
        width: 100%;
        background-color: $memory;
      }
      &:hover {
        background-color: rgba($almostBlack,0.85);
      }
    }
  }
  &--wifi {
    div {
      background-color: $wifi;
    }
    &:hover {
      background-color: rgba($almostBlack,0.85);
      color: white;
      div {
        background-color: $wifi;
      }
    }
    &.is-active {
      background-color: rgba($almostBlack,1);
      color: white;
      div {
        width: 100%;
        background-color: $wifi;
      }
      &:hover {
        background-color: rgba($almostBlack,0.85);
      }
    }
  }
  &--disc {
    div {
      background-color: $disc;
    }
    &:hover {
      background-color: rgba($almostBlack,0.85);
      color: white;
      div {
        background-color: $disc;
      }
    }
    &.is-active {
      background-color: rgba($almostBlack,1);
      color: white;
      div {
        width: 100%;
        background-color: $disc;
      }
      &:hover {
        background-color: rgba($almostBlack,0.85);
      }
    }
  }
  &--time {
    position: absolute;
    left: 0px;
    width: 150px;
    background-color: rgba($almostBlack,1);
    color: white;
    &:disabled {
      display: none;
    }
    &:hover {
      background-color: rgba($almostBlack,0.85);
    }
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.92);
  }
}
