.app-container {
  .section {
    position: relative;
    width: 100%;
    float: left;
    &--sub-nav {

    }
    &--charts {
    }
    .section-inner {
      position: relative;
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}
