.app-container {
  .section {
    position: relative;
    width: 100%;
    float: left;
    &--hero {
      padding: 15px 0px;
    }
    &--sub-nav {
      padding: 15px 0px;
    }
    &--charts {
      padding: 50px 0px;
    }
    .section-inner {
      position: relative;
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}
